body,
html {
  overflow-x: hidden;
  font-family: "Gilroy";
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  background: #FAF8F3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.wrapper {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1400px) {
  .wrapper {
    padding: 0 20px;
  }
}

.select-wrap {
  position: relative;
  min-width: 68px;
}
.select-wrap select {
  display: none;
}
.select-wrap .select2 {
  position: relative;
  width: 100% !important;
  height: 100%;
}
.select-wrap .select2 .selection {
  width: 100%;
}
.select-wrap .select2-container--default .select2-selection--single {
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0;
  height: 100%;
}
.select-wrap .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select-wrap .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 18px;
  padding: 0;
  color: #fff;
  padding: 10px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
.select-wrap .select2-selection__arrow {
  width: 20px !important;
  height: 20px !important;
  top: 50% !important;
  right: 5px !important;
  transform: translateY(-50%);
  z-index: 1 !important;
  background-color: transparent;
}
.select-wrap .select2-selection__arrow b {
  background: url(../img/select-arr.svg) no-repeat center center;
  width: 20px !important;
  height: 20px !important;
  border: none !important;
  transition: 0.2s;
  margin-top: -10px !important;
}
.select-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
}

.select2-dropdown {
  border: none !important;
  font-size: 16px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: white;
  color: #141414;
  font-size: 16px !important;
  font-weight: 400;
  transition: 0s;
}

.select2-container--default .select2-results__option--highlighted {
  color: #141414;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  font-size: 16px;
  background: white;
  font-weight: 400;
  color: #CA9D75;
  transition: 0.3s;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: 200px !important;
  overflow-y: auto;
  background: white;
  border-radius: 10px;
  padding: 15px 0;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
}
.select2-results__options::-webkit-scrollbar {
  width: 2px;
}
.select2-results__options::-webkit-scrollbar-thumb {
  background-color: #CA9D75;
  border-radius: 10px;
}
.select2-results__options::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.select2-results__options::-webkit-scrollbar-button {
  background: #fff;
  display: none;
}

.select2-results__option {
  font-size: 16px;
  background: #fff;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px !important;
  margin-bottom: 10px;
  transition: 0s;
}
.select2-results__option > span {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.select2-results__option > span .apply-data-btn {
  color: #CA9D75;
}
.select2-results__option:last-child {
  margin-bottom: 0;
  border: none;
}
.select2-results__option > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.select2-results__option > span img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-weight: 400;
  padding: 0 15px;
  color: #4f4f4f;
  font-size: 16px;
  transition: 0s;
}

.drop-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  .drop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
  }
}
.drop-menu .line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 3px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("../fonts/Gilroy SemiBold"), local("../fonts/Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("../fonts/Gilroy Light"), local("../fonts/Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy Regular"), local("../fonts/Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy Medium"), local("../fonts/Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("../fonts/Gilroy Bold"), local("../fonts/Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.info-block {
  padding: 130px 0 80px;
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  .info-block {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .info-block .main-title {
    margin-bottom: 30px;
  }
}
.info-block .img-style {
  position: absolute;
  bottom: -520px;
  right: -50px;
  z-index: -1;
}
@media (max-width: 1920px) {
  .info-block .img-style {
    width: 44vw;
    bottom: -400px;
  }
}
@media (max-width: 1300px) {
  .info-block .img-style {
    display: none;
  }
}
.info-block .info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;
}
@media (max-width: 1400px) {
  .info-block .info-items {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.info-block .info-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 290px;
}
@media (max-width: 1400px) {
  .info-block .info-items .item {
    width: 48%;
    max-width: inherit;
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .info-block .info-items .item {
    width: 48.5;
  }
}
.info-block .info-items .item:last-child {
  display: none;
}
@media (max-width: 1400px) {
  .info-block .info-items .item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .info-block .info-items .item:last-child img {
    width: 150px !important;
  }
}
@media (max-width: 1024px) {
  .info-block .info-items .item:last-child img {
    margin: auto;
    width: 120px !important;
  }
}
.info-block .info-items .item img {
  margin-bottom: 20px;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .info-block .info-items .item img {
    width: 34px;
    margin-bottom: 12px;
  }
}
.info-block .info-items .item img.logo {
  width: 100%;
}
.info-block .info-items .item b {
  font-size: 16px;
  font-weight: bold;
  color: #302A23;
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .info-block .info-items .item b {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
.info-block .info-items .item span {
  font-size: 16px;
  color: #302A23;
}
@media (max-width: 1400px) {
  .info-block .info-items .item span {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .info-block .info-items .item span {
    font-size: 13px;
  }
}
.info-block .info-images img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 767px) {
  .info-block .info-images img {
    width: 100%;
  }
}

.panorama {
  position: relative;
  z-index: 1;
}
.panorama .style {
  padding: 25px 80px;
  background: #302A23;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #FAF8F3;
  font-weight: 300;
  font-size: 64px;
}
@media (max-width: 1024px) {
  .panorama .style {
    padding: 16px 32px;
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .panorama .style {
    padding: 10px 20px;
    font-size: 30px;
  }
}
.panorama p {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  color: #302A23;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .panorama p {
    font-size: 24px;
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .panorama p {
    font-size: 16px;
  }
}
.panorama .panorama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .panorama .panorama {
    margin-bottom: 20px;
  }
}
.panorama .panorama img {
  width: 100%;
}

.location {
  padding: 140px 0;
}
@media (max-width: 1200px) {
  .location {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .location {
    padding: 40px 0;
  }
}

#map {
  width: 100%;
  height: 570px;
  margin-bottom: 140px;
}
@media (max-width: 1200px) {
  #map {
    margin-bottom: 80px;
    height: 480px;
  }
}
@media (max-width: 767px) {
  #map {
    height: 320px;
    margin-bottom: 50px;
  }
}

.loc-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .loc-sliders {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.loc-sliders .loc-slider-wrap {
  position: relative;
  z-index: 0;
  background: #FFF;
  box-shadow: 0 4px 7.5px 0 rgba(0, 0, 0, 0.36);
  padding: 40px;
  width: 47%;
}
@media (max-width: 1200px) {
  .loc-sliders .loc-slider-wrap {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .loc-sliders .loc-slider-wrap {
    padding: 20px;
  }
}
.loc-sliders .loc-slider-wrap h3 {
  font-size: 32px;
  font-weight: 500;
  color: #302A23;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .loc-sliders .loc-slider-wrap h3 {
    font-size: 26px;
  }
}
.loc-sliders .loc-slider-wrap .img-style {
  position: absolute;
  top: -170px;
  right: -125px;
}
@media (max-width: 1200px) {
  .loc-sliders .loc-slider-wrap .img-style {
    width: 130px;
    top: -40px;
    right: -20px;
  }
}

.loc-slider .slick-dots {
  bottom: -40px;
}
.loc-slider .slick-dots li {
  margin: 0;
}
.loc-slider .item {
  width: 190px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .loc-slider .item {
    width: 130px;
  }
}
.loc-slider .item .item-wrap {
  border-left: 1px solid #302A23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100px;
  padding: 0 10px 0 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .loc-slider .item .item-wrap {
    height: 80px;
    padding: 0 7px 0 12px;
  }
}
.loc-slider .item .item-wrap b {
  font-size: 32px;
  color: #302A23;
  font-weight: normal;
}
@media (max-width: 767px) {
  .loc-slider .item .item-wrap b {
    font-size: 24px;
  }
}
.loc-slider .item .item-wrap span {
  font-size: 13px;
  color: #302A23;
}
@media (max-width: 767px) {
  .loc-slider .item .item-wrap span {
    font-size: 13px;
  }
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main-title {
    margin-bottom: 20px;
  }
}
.main-title h2 {
  font-size: 64px;
  font-weight: 300;
  color: #302A23;
}
@media (max-width: 1200px) {
  .main-title h2 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .main-title h2 {
    font-size: 30px;
  }
}
.main-title .border {
  display: inline-block;
  flex-grow: 1;
  height: 3px;
  background: #302A23;
  margin-left: 30px;
}
@media (max-width: 1200px) {
  .main-title .border {
    margin-left: 20px;
    height: 2px;
  }
}
@media (max-width: 767px) {
  .main-title .border {
    display: none;
  }
}

.footer {
  background: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}
.footer .img-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media (max-width: 1800px) {
  .footer .img-wrap {
    width: 60vw;
  }
}
@media (max-width: 1024px) {
  .footer .img-wrap {
    display: none;
  }
}
.footer .img-wrap img {
  width: 100%;
}
.footer .footer-info {
  padding-top: 80px;
  padding-bottom: 120px;
  max-width: 610px;
}
@media (max-width: 1024px) {
  .footer .footer-info {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
}
.footer .footer-info .phone {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: normal;
}
@media (max-width: 1024px) {
  .footer .footer-info .phone {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .footer .footer-info .phone {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer .footer-info .phone img {
    width: 16px;
  }
}
.footer .footer-info .phone img {
  margin-right: 10px;
}
.footer .footer-info .brands {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .footer .footer-info .brands img {
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .footer .footer-info .brands {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .footer .footer-info .brands {
    margin-top: 30px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer .footer-info .brands img {
    width: 30%;
  }
  .footer .footer-info .brands img:last-child {
    width: 20%;
  }
}
.footer .footer-info .request-form {
  text-align: center;
}
.footer .footer-info .request-form h3 {
  font-size: 64px;
  font-weight: 500;
  color: #FAF8F3;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer .footer-info .request-form h3 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .footer .footer-info .request-form h3 {
    font-size: 32px;
  }
}
.footer .footer-info .request-form p {
  text-align: center;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .footer .footer-info .request-form p {
    font-size: 16px;
  }
}
.footer .footer-info .request-form button {
  padding: 12px;
  background: #FAF8F3;
  border-radius: 50px;
  margin-top: 20px;
  max-width: 390px;
  width: 100%;
  margin: 20px auto 0;
  font-size: 32px;
  color: #302A23;
}
@media (max-width: 767px) {
  .footer .footer-info .request-form button {
    font-size: 24px;
    margin-top: 10px;
  }
}
.footer .footer-info .request-form button:hover {
  background: #7C6D6C;
  color: white;
}
.footer .footer-info .request-form input {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  background: #7C6D6C;
  font-size: 18px;
  color: white;
  padding: 0 20px;
}
.footer .footer-info .request-form input::-webkit-input-placeholder {
  color: white;
  font-size: 18px;
}
.footer .footer-info .request-form input::-moz-placeholder {
  color: white;
  font-size: 18px;
}
.footer .footer-info .request-form input:-ms-input-placeholder {
  color: white;
  font-size: 18px;
}
.footer .footer-info .request-form input:-moz-placeholder {
  color: white;
  font-size: 18px;
}
@media (max-width: 767px) {
  .footer .footer-info .request-form input {
    height: 50px;
  }
}

.advantedes {
  padding: 120px 0 40px;
}
@media (max-width: 767px) {
  .advantedes {
    padding-top: 40px;
  }
}
.advantedes .advantedes-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  margin-top: 60px;
}
@media (max-width: 1500px) {
  .advantedes .advantedes-items {
    gap: 30px;
  }
}
@media (max-width: 1200px) {
  .advantedes .advantedes-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .advantedes .advantedes-items {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
.advantedes .advantedes-items .advantedes-item {
  background: #FFF;
  box-shadow: 0 4px 7.5px 0 rgba(0, 0, 0, 0.36);
  padding: 12px;
  text-align: center;
}
.advantedes .advantedes-items .advantedes-item:hover img {
  transform: scale(1.03);
}
.advantedes .advantedes-items .advantedes-item img {
  margin-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .advantedes .advantedes-items .advantedes-item img {
    width: 60%;
    margin-bottom: 10px;
  }
}
.advantedes .advantedes-items .advantedes-item b {
  display: block;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #302A23;
}
@media (max-width: 767px) {
  .advantedes .advantedes-items .advantedes-item b {
    font-size: 24px;
  }
}
.advantedes .advantedes-items .advantedes-item span {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #302A23;
  padding-bottom: 20px;
  display: block;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .advantedes .advantedes-items .advantedes-item span {
    font-size: 16px;
  }
}

.about {
  padding-top: 120px;
}
@media (max-width: 767px) {
  .about {
    padding-top: 50px;
  }
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .about .wrapper {
    flex-direction: column-reverse;
  }
}
.about .wrapper .img-wrap {
  width: 53%;
}
@media (max-width: 1024px) {
  .about .wrapper .img-wrap {
    width: 100%;
    margin-top: 30px;
  }
}
.about .wrapper .img-wrap img {
  width: 100%;
}
.about .wrapper .text-wrap {
  width: 43%;
}
@media (max-width: 1024px) {
  .about .wrapper .text-wrap {
    width: 100%;
  }
}
.about .wrapper .text-wrap > p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #302A23;
  max-width: 640px;
}
.about .wrapper .text-wrap .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .about .wrapper .text-wrap .btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
}
.about .wrapper .text-wrap .btn-wrap .request-btn {
  padding: 14px 40px;
  background: #302A23;
  color: white;
  font-size: 32px;
  font-weight: 500;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .about .wrapper .text-wrap .btn-wrap .request-btn {
    font-size: 24px;
    margin-right: 0px;
  }
}
.about .wrapper .text-wrap .btn-wrap .request-btn:hover {
  background: #483f34;
}
.about .wrapper .text-wrap .btn-wrap .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .about .wrapper .text-wrap .btn-wrap .info {
    margin-top: 20px;
  }
}
.about .wrapper .text-wrap .btn-wrap .info img {
  margin-right: 10px;
}
.about .wrapper .text-wrap .btn-wrap .info .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about .wrapper .text-wrap .btn-wrap .info .texts b {
  font-size: 16px;
  color: #302A23;
}
.about .wrapper .text-wrap .btn-wrap .info .texts span {
  font-size: 16px;
  color: #302A23;
  margin-bottom: 2px;
}

.banner {
  background: url(../img/banner-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% center;
  padding: 240px 0 120px;
}
@media (max-width: 1200px) {
  .banner {
    padding: 190px 0 50px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 240px 0 90px;
    background-position: 100% center;
    background: url(../img/banner-mob.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 90%;
  }
}
@media (max-width: 767px) {
  .banner .banner-info {
    position: relative;
    top: -120px;
  }
}
.banner .banner-info .big-logo {
  margin-bottom: 40px;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1300px) {
  .banner .banner-info .big-logo {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .banner .banner-info .big-logo {
    max-width: 120px;
    margin-bottom: 15px;
  }
}
.banner .banner-info p {
  max-width: 450px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #302A23;
}
@media (max-width: 767px) {
  .banner .banner-info p {
    font-size: 12px;
    margin-bottom: 15px;
    max-width: 230px;
  }
}
.banner .banner-info .request-btn {
  padding: 30px 40px;
  color: #fff;
  background: #302A23;
  font-size: 32px;
  margin-top: 50px;
  color: #FAF8F3;
}
@media (max-width: 1200px) {
  .banner .banner-info .request-btn {
    font-size: 24px;
    padding: 20px 30px;
  }
}
@media (max-width: 767px) {
  .banner .banner-info .request-btn {
    font-size: 15px;
    padding: 12px 18px;
    margin-top: 12px;
  }
}
.banner .banner-info .request-btn:hover {
  background: #483f34;
}
.banner .banner-info .request-btn img {
  margin-left: 12px;
}
@media (max-width: 1200px) {
  .banner .banner-info .request-btn img {
    width: 22px;
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .banner .banner-info .request-btn img {
    width: 12px;
  }
}
.banner .banner-info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .banner .banner-info .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
}
.banner .banner-info .address .item {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .banner .banner-info .address .item {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.banner .banner-info .address .item img {
  margin-right: 12px;
}
@media (max-width: 767px) {
  .banner .banner-info .address .item img {
    width: 20px;
  }
}
.banner .banner-info .address .item .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.banner .banner-info .address .item .texts span {
  font-size: 16px;
  color: #302A23;
}
@media (max-width: 767px) {
  .banner .banner-info .address .item .texts span {
    font-size: 12px;
  }
}
.banner .banner-info .address .item .texts b {
  font-size: 16px;
  font-weight: bold;
  color: #302A23;
}
@media (max-width: 767px) {
  .banner .banner-info .address .item .texts b {
    font-size: 11px;
  }
}

.header {
  background: rgba(0, 0, 0, 0.51);
  backdrop-filter: blur(2px);
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
@media (max-width: 1200px) {
  .header {
    padding: 20px 0;
  }
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1500px) {
  .header .wrapper .logo {
    width: 120px;
  }
  .header .wrapper .logo img {
    width: 100%;
  }
}
.header .wrapper .select-wrap {
  margin-left: auto;
  margin-right: 40px;
}
@media (max-width: 1500px) {
  .header .wrapper .select-wrap {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .header .wrapper .select-wrap {
    margin-right: 10px;
  }
}
.header .wrapper .order-call-btn {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ECE7DA;
  font-size: 18px;
  font-weight: 500;
  color: #302A23;
}
@media (max-width: 767px) {
  .header .wrapper .order-call-btn {
    display: none;
  }
}
.header .wrapper .order-call-btn:hover {
  background: #ded6bf;
}
.header .wrapper .order-call-btn img {
  margin-right: 10px;
  width: 20px;
}
.header .wrapper .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
}
@media (max-width: 1500px) {
  .header .wrapper .main-menu {
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  .header .wrapper .main-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background: #302A23;
    width: 100%;
    height: 100vh;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    transform: scale(0);
    transition: 0.3s;
  }
  .header .wrapper .main-menu.open {
    transform: scale(1);
  }
}
@media (max-width: 1200px) {
  .header .wrapper .main-menu li {
    margin-bottom: 20px;
  }
}
.header .wrapper .main-menu li a {
  font-size: 18px;
  color: white;
  padding: 20px;
  border: 1px solid transparent;
}
@media (max-width: 1500px) {
  .header .wrapper .main-menu li a {
    padding: 15px;
  }
}
@media (max-width: 1400px) {
  .header .wrapper .main-menu li a {
    font-size: 16px;
  }
}
@media (max-width: 1300px) {
  .header .wrapper .main-menu li a {
    padding: 10px;
  }
}
@media (max-width: 1200px) {
  .header .wrapper .main-menu li a {
    border: none;
    padding: 0px;
    font-size: 20px;
  }
}
.header .wrapper .main-menu li a:hover {
  border-color: white;
}

/*# sourceMappingURL=style.css.map */
